<div class="card">
    <div class="card-header">
        <h2>Fuel History</h2>
    </div>
    <div class="card-body">
            <p-table [value]="products2" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">Client <p-sortIcon field="Client"></p-sortIcon></th>
                        <th pSortableColumn="gallonsRequested">Gallons Requested <p-sortIcon field="gallonsRequested"></p-sortIcon></th>
                        <th pSortableColumn="deliveryDate">Delivery Date <p-sortIcon field="deliveryDate"></p-sortIcon></th>
                        <th pSortableColumn="deliveryAddress">Delivery Address <p-sortIcon field="deliveryAddress"></p-sortIcon></th>
                        <th pSortableColumn="suggestedPrice">Suggested Price <p-sortIcon field="suggestedPrice"></p-sortIcon></th>
                        <th pSortableColumn="totalAmountDue">Total Amount Due <p-sortIcon field="totalAmountDue"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>Shell Oil</td>
                        <td>{{product.gallonsRequested}}</td>
                        <td>{{product.deliveryDate}}</td>
                        <td>{{product.deliveryAddress}}</td>
                        <td>{{product.suggestedPrice | currency: 'USD'}}</td>
                        <td>{{product.totalAmountDue | currency: 'USD'}}</td>
                    </tr>
                </ng-template>
            </p-table>
       
    </div>
</div>